USE [master]
GO
/****** Object:  Database [MVC]    Script Date: 25-Oct-24 8:47:53 AM ******/
CREATE DATABASE [MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC', FILENAME = N'E:\Sql2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\MVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVC_log', FILENAME = N'E:\Sql2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\MVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVC]
GO
/****** Object:  Table [dbo].[tblRegister]    Script Date: 25-Oct-24 8:47:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegister](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[PhoneNumber] [nvarchar](16) NULL,
 CONSTRAINT [PK_tblRegister] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblRegister] ON 

INSERT [dbo].[tblRegister] ([UserId], [FirstName], [LastName], [Address], [PhoneNumber]) VALUES (2002, N'Das', N'mhasavekar', N'At madur', N'09146614610')
INSERT [dbo].[tblRegister] ([UserId], [FirstName], [LastName], [Address], [PhoneNumber]) VALUES (2003, N'Ayush', N'Tingre', N'At Dhanori', N'9921052751')
SET IDENTITY_INSERT [dbo].[tblRegister] OFF
GO
/****** Object:  StoredProcedure [dbo].[FirstMvc]    Script Date: 25-Oct-24 8:47:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FirstMvc]
(
@UserId int=null,
@FirstName nvarchar(50)=null,
@LastName nvarchar(50)=null,
@Address nvarchar(250)=null,
@PhoneNumber nvarchar(16)=null,
@flag nvarchar(250)=null
)	
AS
begin

if (@flag='SaveUser')
begin
insert into tblRegister values(@FirstName,@LastName,@Address,@PhoneNumber)
end

if (@flag='Fetch')
begin
select * from tblRegister
end

if (@flag='UpdateUser')
begin
update tblRegister set FirstName=@FirstName,LastName=@LastName,Address=@Address,PhoneNumber=@PhoneNumber where UserId=@UserId
end

if (@flag='FetchUserDetails')
begin
Select * from tblRegister where UserId=@UserId
end

--if (@flag='DeleteUser')
--begin
--delete from tblRegister where UserId=@UserId
--end

end

GO
USE [master]
GO
